<h3>Top de Héroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]"  class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
      <img src={{hero.rute}} width="200" height="300">
    </div>
  </a>
</div>
<br>
<!-- <hero-search></hero-search> -->