<h2>Mis Héroes</h2>
<div>
  <label>Nombre del Héroe: </label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Añadir
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} es mi héroe
  </h2>
  <button (click)="gotoDetail()">Ver Detalles</button>
  <img src={{selectedHero.rute}} width="200" height="300">
</div>
