<div *ngIf="hero">
  <h2>Detales de {{hero.name}}</h2>
  <div>
    <label>ID: </label>{{hero.id}}</div>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
   </div>
  <div>
    <label>Image: </label>
    <input [(ngModel)]="hero.rute" placeholder="Ruta Imagen" />
   </div>
   <div>
     <img src={{hero.rute}} width="200" height="300">
   </div>
  <button (click)="goBack()">Regresar</button>
  <button (click)="save()">Guardar</button>
</div>
